<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar</title>
    <link rel="stylesheet" href="/public/css/confirmacao.css">
</head>
<body>
     
 
    <div class="logo-login">
 
        <div class="logo">
    <div class="brand" aria-label="Sid'sMart">
        <span class="brand-green">Sid'</span><span class="brand-apos">s</span><span class="brand-red">Mart</span>
    </div>
</div>
       
        <div class="login">
           
            

            </form>
 
        </div>
       
    </div>
   
 
</body>
</html>