<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="../Css/unico.css">
</head>
<body>

    <h1>Informações do Produto</h1>

    
    {% for produto in unico %}
     
    <!--pega o nome, descrição e valor do produto no php-->

    <div class="ProdutoUni">
        <img src="{{ produto.foto }}">
        <p>Nome: {{ produto.Nome }}</p>
        <p>Valor: {{ produto.valor }}</p>
        <!-- aqui pode colocar o mesmo produto com variações diferentes. ex:cor -->
        <!--aqui pode colocar a quantidade do mesmo produto que o usuario quer ter-->
    </div>

    {% endfor %}

<br>
    <button>Comprar agora</button>
    <button>Adicionar ao carrinho</button>
<br>

    {% for produto in descricao %}
    <div class="InfoProduto">
        <p>Detalhes: {{produto.detalhes}}</p> <!--ex:categoria, tipo de envio, etc-->
        <p>Descrição: {{ produto.descricao }}</p> <!--ex:tamanho, materia, qtde, etc-->
    </div>
    {% endfor %}

    <!--Possiveis implementações-->
    <h3>Avaliações</h3>
    <h3>Comentários</h3>
    <h3>produtos semelhantes</h3>


&copy Sid's-Mart 2025    
</body>
</html>