<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
</head>

<body>
    <h1>Página principal do Supermercado</h1>
    <p>{{conteudo}}</p>

    <p>NOSSOS PRODUTOS MAIS VENDIDOS</p>
    {% for produto in unico %}
        <div class="produto">
            <div class="produto-info">
                <img src="{{ produto.foto1 }}" class="produto-img">

                <div class="produto-detalhes">
                    <h3 class="produto-nome">Nome:{{ produto.nome }}</h3>
                    <p class="produto-preco">Preço: <span>R$ {{ produto.valor }}</span></p>
                <span class="produto-desconto">Desconto:{{ produto.porcentagem }}</span>
            </div>
        </div>
    {% end for %}
</body>

</html>