<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Adimin) Usuários</title>
    <link rel="stylesheet" href="../Css/usuarios_admin.css">
</head>
<body>

    <h1>Usuários Cadastrados</h1>

    <!--Informações dos usuários(dados tirados da tabela clientes do sidnei)-->
    <form>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Data de nascimento</th>
                <th>Email</th>
                <th>Telefone 1</th>
                <th>Telefone 2</th>
                <th>CPF</th>
                <th>Senha</th>
            </tr>
        </thead>
    </table>
    </form>

        <!--troca as páginas-->
        <!-- # mudar a referencia pelo codigo-->
        <div class="paginacao">
            <a href="#">Próxima Página</a>
            <a href="#">Página Anterior</a>
        </div>

    <!--opcional!-->
    <button>Editar Usuário</button>
    <button>Excluir Usuário </button>


&copy Sid's-Mart 2025
</body>
</html>